
        
        .header-actions {
            display: flex;
            gap: 10px;
        }
        .dx-datagrid-rowsview .dx-row-focused.dx-data-row .dx-command-select {
            background-color: transparent;
        }
        
        .dx-toolbar .dx-toolbar-items-container {
            height: 50px;
            padding: 0 15px;
        }
        
        .dx-datagrid-headers .dx-datagrid-table .dx-row > td {
            
            color: var(--text-primary);
        }
        .dx-datagrid-content .dx-datagrid-table .dx-data-row > td {
           /* white-space: nowrap; */
        }
        
        .dx-button {
            border-radius: 4px !important;
        }
        
        .dx-button-mode-contained {
            box-shadow: none !important;
        }